.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 0.5px solid #5870EB;
    
}

.rectangle {
    width: 5px;
    height: 70.93px;
    background: #5870EB;
    border-radius: 20px;
    
}
.assign {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;  
    color: #5870EB;
}

.assign:active {
    color: rgb(58, 74, 156);
  }

.text {
    color:   #8E8E8E;
    font-family: Inter;
    font-style: normal;
    font-size: 8px;
}

.date {
    color:   #8E8E8E;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}

.info {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}