

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <div class="background">
      <%= react_component("Login", {path: omniauth_authorize_path(resource_name, provider)}) %>
    </div>
  <% end %>
<% end %>



