<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @assignment.assigned_to.name %></h1>
    <p>
      You have been assigned a new action item by <%= @assignment.assigned_by.name %>.<br>
    </p>
    <p>
      To view your action item, log in using this link: <%= @url %>.
    </p>
    <p>Best,<br>
    Unloop</p>
  </body>
</html>