// Place all the styles related to the case notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.no-case-notes-img {
    width: 70%;
    height: 70%;
    display: block;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
}

.no-case-notes-txt {
    text-align: center;
}