body {
    margin: 0px;
}

.login-screen {
    text-align: center;
    display: flex;
    padding-left: 20vw;
}

.background {
    background: rgb(41, 49, 60);
    margin: -10;
    padding: -10;
}
.title {
    color: rgb(43, 43, 43);
    margin-bottom: 5vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

.login-container {
    background: rgb(41, 49, 60);
    margin: 0;
    display: flex;
    align-content: center;
    padding-top: 20vh;
    padding-bottom: 20vh;
}

.login {
    height: 60vh;
    border-radius: 0px 15px 15px 0px;
    text-align: left;
    background-color:rgba(0, 159, 173, 1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.unloop-image {
    padding: 0;
    margin: 0;
    width: 35vw;
    height: 60vh;
    object-fit: cover;
    border-radius: 15px 0px 0px 15px;
}

.login-box {
    display: inline-block;
    padding-top: 20vh;
    padding-bottom: 10vh;
    padding-right: 5vw;
    padding-left: 5vw;
}

.sign-in-button {
    text-align: center;
    padding-top: 5vh;
}
