// Place all the styles related to the Paperworks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dialogActions {
  padding: 30px;
}

.dialogTitle {
  border-bottom: 5px solid;
  border-image-source: linear-gradient(to left, transparent 20%, #C4C4C4 20%);
  border-image-slice: 1;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.dialogContentText {
  color: black;
  margin-bottom: 2px;
}
.dialogContentTextField {
  margin-top: 2px;
  border-style: solid 4px grey;
}
.saveDocumentButton {
  border-style: solid 3px grey;
}
