// Place all the styles related to the professional_questionnaire controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.questionnaireTextField {
    width: 100%;
}

.questionnaireEntry {
    margin-bottom: 20px;
}

.buttonContainer {
    padding: 15px;
}