// Place all the styles related to the staffs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$background-blue: #d2dce1;
$dark-blue: #29313c;
$white: #fff;
$button-primary: #009fad;
$button-secondary: #5870eb;
$grey: #d2dce1;
$orange: #eb6658;

html,
body {
  margin: 0px;
  max-width: 100%;
  cursor: default;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

button {
  cursor: pointer;
  border: none;
}

button:focus {
  outline: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;

  th,
  td {
    padding: 25px 3%;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  tbody {
    tr:hover {
      background-color: #f5f5f5;
    }
  }

  td > div {
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
  }
}



.icon-large {
  width: 35px;
  height: 35px;
  min-width: 35px;
  min-height: 35px;
}

.dashboard {
  height: 100%;
  width: 100%;
  font-style: normal;

  thead {
    th {
      padding-bottom: 16px;
    }
    border-bottom: 2px solid $orange;
  }

  h1 {
    font-weight: 600;
    margin-left: 50px;
    font-weight: 550;
    font-size: 36px;
  }

  .content {
    position: absolute;
    left: 8%;
    width: calc(92%);
    display: inline-block;;
  }

  .table-container {
    height: 100%;
    min-height: 100vh;
    background-color: $background-blue;
    padding: 20px 42px;

    > div {
      background-color: $white;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
      border-radius: 20px;
      padding: 30px;
    }

    .search-bar {
      height: 40px;
      margin-left: 30px;
      border-radius: 2px;
      width: 260px;
      border: 1px solid #bdbdbd;
      padding-left: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    .status {
      width: 52px;
      height: 52px;
      border-radius: 100%;
      text-align: center;
      line-height: 52px;
      color: #fff;
    }
  }
}
